body {
    list-style-position: inside;
    margin: auto;
    text-align: center;
}

a {
    text-decoration: none;
}

h1 {
    color: red;
}

h2 {
    color: darkgoldenrod
}

li {
    list-style-position: inside;
}

header a {
    position: relative;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}